body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
    margin: 0;
    padding: 0;
}


#calculator {
    height: 80%;
	width: 30vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 15% 15% 15% 15% 15%;
    border-radius: 10px;
}